.indicator{
    user-select: none;
}
.points{
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: var(--clock-indicator);
    border-radius: 50%;
}

.numbers{
    position: absolute;
    color:var(--clock-number);
    font-size: 3em;
}

.numbers:nth-child(even){
    transform: translateY(-50%);
}

.numbers:nth-child(odd){
    transform: translateX(-50%);
}

.numbers:nth-child(1){
   margin-top: 15px;
   left: 50%;
}

.points:nth-child(2){
    right: 28%;
    top: 13%;
}

.points:nth-child(3){
    right: 13%;
    top: 28%;
}

.numbers:nth-child(4){
    margin-right: 15px;
    right: 0;
    top: 50.5%;
}

.points:nth-child(5){
    right: 13%;
    top: 69.5%;
}

.points:nth-child(6){
    right: 28%;
    top: 84.5%;
}

.numbers:nth-child(7){
    margin-bottom: 15px;
    bottom: 0;
    left: 50%;
}

.points:nth-child(8){
    left: 28%;
    top: 84.5%;
}

.points:nth-child(9){
    left: 13%;
    top: 69.5%;
}

.numbers:nth-child(10){
    margin-left: 15px;
    top: 50%;
}

.points:nth-child(11){
    left: 13%;
    top: 28%;
}

.points:nth-child(12){
    left: 28%;
    top: 13%;
}
